<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/css/site.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h2></h2>
            <div class="panel panel-success">
                <div class="panel-heading">Thank You</div>
                    <div class="panel-body">
                	We appreaciate your surveys
     				<br>
        			</div>
         		</div>
                <a value="Go Back" href="http://localhost:3000/">back to home</a>
            </div>

    </body>

</html>


